@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

input::-webkit-inner-spin-button{-webkit-appearance:none;}

*{margin:0;padding:0;outline:0;box-sizing:border-box;font-family:'Nunito',sans-serif;border:0;user-select:none;-webkit-tap-highlight-color:transparent;}
html{font-size:16px;}
body{position:relative;width:100vw;height:100vh;}
body.theme-dark p.color-main, body.theme-dark p{color:#FAFAFA;}
body.theme-dark p.color-secondary{color:#DADADA;}

header.content__header{display:flex;width:100%;height:10%;background-color:#232022;align-items:center;position:relative;}
img.content__header-logo{height:80%;margin-left:1rem;border-radius:.2rem;}
p.content__header-projectName{font-size:1rem;font-weight:600;margin-left:1rem;width:100%;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}

main.content__page{display:flex;flex-direction:column;width:100%;height:90%;background-color:#191c21;align-items:center;padding:1rem 0;overflow-y:auto;overflow-x:hidden;}
.order__Text{font-size:1rem;}
.order__Title{font-size:1.5rem;font-weight:600;margin-top:1rem;}
.order__cards{display:flex;flex-wrap:wrap;width:100vw;justify-content:flex-start;}
.order__card{display:flex;flex-direction:column;align-items:center;width:40vw;position:relative;margin:1rem 5vw;height:auto;}
.order__card-Image-container{height:25vw;width:25vw;position:relative;display:flex;justify-content:center;align-items:center;margin-bottom:.5rem;}
.order__card-Image{width:100%;height:100%;}
.order__card-Name{margin:.2rem 0;font-size:1rem;font-weight:600;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;width:100%;text-align:center;}
.order__card-Price{font-size:.8rem;}
.order__card-BTNs{display:flex;width:100%;overflow:hidden;justify-content:center;align-items:center;margin-top:.4rem;}
.order__card-BTN{font-weight:600;transition:.2s;overflow:hidden;cursor:pointer;width:80%;height:2rem;background-color:#000;display:flex;justify-content:center;align-items:center;border-radius:.5rem;}
.order__card-BTN.hiden,.order__card-input.hiden{width:0%;}
.order__card-BTN.small,.order__card-input.small{width:30%;}
.order__card-BTN.small{font-size:1.2rem;font-weight:800;}
.order__card-BTN.additBtn:not(.hiden),.order__card-input.additBtn:not(.hiden){margin-left:5%;}
.order__card-BTN.additBtn{background-color:#AAFAAA !important; color:#323232 !important;}
.order__card-input{transition:.2s;display:flex;justify-content:center;align-items:center;font-weight:800;width:80%;height:2rem;border-radius:.5rem;text-align:center;color:#FAFAFA;}
.order__badges{display:flex;width:100%;height:2rem;}
.order__badge{display:flex;width:8vw;height:8vw;justify-content:center;align-items:center;position:relative;margin:0 1vw;border-radius:4vw;}
.order__badge img{width:60%;height:60%;}
